<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net45" />
  <package id="FluentAssertions" version="4.19.4" targetFramework="net45" />
  <package id="Moq" version="4.8.1" targetFramework="net45" />
  <package id="NSubstitute" version="3.1.0" targetFramework="net45" />
  <package id="NUnit" version="3.9.0" targetFramework="net45" />
  <package id="NUnit.Console" version="3.8.0" targetFramework="net45" />
  <package id="NUnit.ConsoleRunner" version="3.8.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.6.0" targetFramework="net45" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net45" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.3" targetFramework="net45" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.7.0" targetFramework="net45" />
  <package id="NUnit.Runners" version="3.8.0" targetFramework="net45" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net45" />
  <package id="System.Threading.Tasks.Extensions" version="4.3.0" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net45" />
  <package id="Xamarin.Forms" version="2.5.0.122203" targetFramework="net45" />
</packages>